<div uk-height-viewport="offset-top: true; offset-bottom: true" class="full-section uk-section uk-section-small uk-flex">
    <div class="uk-width-1-1">
        <div class="uk-container">
            <h4 class="uk-heading-divider uk-margin-medium-top">AG QUANT FX FUND</h4>
            <h2 class="">AGQ capital focuses on algorithmic and systematic trading, where every second is the difference between success and failure. Modern markets demand precise, efficient trading and transparent pricing. Our systems operate on a very disciplined approach providing an absolute return profile of returns.</h2>
            <div class="stats uk-text-center uk-child-width-1-3@m uk-grid-small uk-grid-match uk-margin-large-top" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">140+</h3>
                        <p>Profitable Ventures</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">$1.2b+</h3>
                        <p>Capital Invested</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">99.9%</h3>
                        <p>Companies Yielding Profit</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>