<div uk-height-viewport="offset-top: true; offset-bottom: true" class="full-section uk-section uk-section-small uk-flex">
    <div class="uk-width-1-1">
        <div class="uk-container">
            <h4 class="uk-heading-divider uk-margin-medium-top">GET IN TOUCH</h4>
            <form class="contact-form uk-grid-small uk-margin-large-top" uk-grid>
                <div class="uk-width-1-3@s">
                    <input class="uk-input" type="text" placeholder="Enter Your Name!">
                </div>
                <div class="uk-width-1-3@s">
                    <input class="uk-input" type="text" placeholder="What's Your Email Address?'">
                </div>
                <div class="uk-width-1-3@s">
                    <input class="uk-input" type="text" placeholder="Your phone number?">
                </div>
                <div class="uk-width-1-1">
                    <textarea class="uk-textarea" rows="5" placeholder="Leave us a message..."></textarea>
                </div>
                <div class="uk-width-1-1">
                    <button class="uk-button uk-button-default">SUBMIT</button>
                </div>                                                                  
            </form>            
            <div class="stats uk-child-width-1-3@m uk-grid-small uk-grid-match uk-margin-large-top" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">AGQ Capital Ltd</h3>
                        <div uk-grid>
                            <div class="uk-width-1-6">
                                <span class="uk-margin-small-right uk-icon" uk-icon="icon: location"></span>
                            </div>
                            <div class="uk-width-5-6 nxt-to-icon">
                                <p>Kemp House 160 City Road,</p>
                                <p>London EC1V 2NX</p>                       
                            </div>  
                        </div>
                        <div uk-grid class="phone">
                            <div class="uk-width-1-6">
                                <span class="uk-margin-small-right uk-icon" uk-icon="icon: phone"></span>
                            </div>
                            <div class="uk-width-5-6 nxt-to-icon">
                                <p>+ 44 (0) 207 689 7888</p>                            
                            </div>  
                        </div>                                                  
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">AGQ Capital (Asia) Limited</h3>
                        <div uk-grid>
                            <div class="uk-width-1-6">
                                <span class="uk-margin-small-right uk-icon" uk-icon="icon: location"></span>
                            </div>
                            <div class="uk-width-5-6 nxt-to-icon">
                                <p>Unit 503, 5/F, Tower 2, Lippo Centre,</p>
                                <p>89 Queenway, Admiralty, Hong Kong</p>                       
                            </div>  
                        </div>
                        <div uk-grid class="phone">
                            <div class="uk-width-1-6">
                                <span class="uk-margin-small-right uk-icon" uk-icon="icon: phone"></span>
                            </div>
                            <div class="uk-width-5-6 nxt-to-icon">
                                <p>+ 852 - 286 10811</p>                            
                            </div>  
                        </div>                                                  
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">AG Capital Worldwide Ltd</h3>
                        <div uk-grid>
                            <div class="uk-width-1-6">
                                <span class="uk-margin-small-right uk-icon" uk-icon="icon: location"></span>
                            </div>
                            <div class="uk-width-5-6 nxt-to-icon">
                                <p>No.49-2, Jalan Puteri 1/4, Dataran Financial Centre,</p>
                                <p>Bandar Puteri, 47100 Puchong, Selangor, Malaysia</p>                       
                            </div>  
                        </div>
                        <div uk-grid class="phone">
                            <div class="uk-width-1-6">
                                <span class="uk-margin-small-right uk-icon" uk-icon="icon: phone"></span>
                            </div>
                            <div class="uk-width-5-6 nxt-to-icon">
                                <p>+ 603 - 8063 9591</p>                            
                            </div>  
                        </div>                                                  
                    </div>
                </div>                
            </div>            
        </div>
    </div>
</div>